@model Bio_Data.Models.Familydetails

@{
    Layout = null;
}

<h1>Family Details</h1>
<div>
    <p>Father Name: @Model.FatherName</p>
    <p>Father Occupation: @Model.FatherOccupation</p>
    <p>Mother Name: @Model.MotherName</p>
    <p>Mother Occupation: @Model.MotherOccupation</p>
    <p>Elder Brother Name: @Model.ElderBrotherName</p>
    <p>Elder Brother Occupation: @Model.ElderBrotherOccupation</p>
    <p>Younger Brother Name: @Model.YoungerBrotherName</p>
    <p>Younger Brother Occupation: @Model.YoungerBrotherOccupation</p>
    <p>Elder Sister Name: @Model.ElderSisterName</p>
    <p>Elder Sister Occupation: @Model.ElderSisterOccupation</p>
    <p>Younger Sister Name: @Model.YoungerSisterName</p>
    <p>Younger Sister Occupation: @Model.YoungerSisterOccupation</p>
</div>
